html {
    background-color: black;
}

.loader {
    justify-self: center;
    align-items: center;
    margin-top: 260px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #dddddd;
    border-top-color: black;
    box-shadow: 10px 10px 80px lavender;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
