*{
    box-sizing: border-box;
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

span{
    width: 15px;
    height: 15px;
    background-color: rgb(0, 174, 255);
    border-radius: 50%;
    box-shadow: 1px 1px 8px blue;
    margin: 0 3px;
    animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
    50%{
        transform: translateY(-50px);
    }
}
