
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0 0 0 0;
    font-family:Noto Sans;
}
@media screen and (min-width: 769px) {
    .onleft h1{
        color: white;
        font-weight: 1000;
        font-size: 35px;
    }
    .onleft p{
        margin-top: 5px;
        color: white;
        font-weight: 400;
        font-size: 16px;
    }
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) { 
    .onleft h1{
        color: white;
        font-weight: 400;
        font-size: 16px;
    }
    .onleft p{
        margin-top: 5px;
        color: white;
        font-weight: 400;
        font-size: 13px;
    }
}

@media only screen and (max-device-width: 480px) {
    .onleft h1{
        color: white;
        font-weight: 400;
        font-size: 14px;
    }
    .onleft p{
        margin-top: 2px;
        color: white;
        font-weight: 400;
        font-size: 9px;
    }
}
.container{
    display: flex;
    height: 42rem;
    width: 100%;
    /*background-image:linear-gradient(rgb(25,23,92),#5865f2);*/
    background-image:linear-gradient(to left,rgb(00,00,00),#1f1f1f);;
    justify-content: center;
    align-items: center;
}

.container .card-outer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 90%;
    background-image:linear-gradient(to left,rgb(25,23,92),#5865f2);
    top:5rem;
    /*border: 0.5px solid rgb(22, 15, 82);*/
    box-shadow: 5px 5px  100px #05022c;
    border-radius: 50px;
    
}

.onleft{
    display: block;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 30%;
    /*background-color: rgb(106, 96, 197);*/
    border-radius: 50px;
    padding: 20px;
}


.onright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 50%;
    /*background-color: rgb(106, 96, 197);*/
    padding: 20px;
    border-radius: 50px;
}
