*{
    margin: 0 0 0 0;
    font-family:Verdana;
}
.container{
    display: flex;
    height: 40rem;
    width: 100%;
    background-color: rgb(23, 7, 53);
    justify-content: center;
    align-items: center;
}

.container .card-outer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30rem;
    width: 80%;
    background-color: rgb(106, 96, 197);
    top:5rem;
    border: 0.5px solid rgb(106, 96, 197);
    border-radius: 60px;
    
}

.onleft{
    display: block;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 30%;
    background-color: rgb(106, 96, 197);
    border-radius: 50px;
    padding: 20px;
}
.onleft h1{
    color: white;
    font-weight: 750;
    font-size: 30px;
}
.onleft p{
    margin-top: 5px;
    color: white;
    font-weight: 400;
    font-size: 17px;
}

.onright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    width: 50%;
    background-color: rgb(106, 96, 197);
    padding: 20px;
    border-radius: 50px;
}
